body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Poppins-regular", "Arial", sans-serif;;
}

@import "fonts.scss";
@import "variables.scss";
@import "mixin.scss";
@import "blocks/page-header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/introduction.scss";