$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$font-playfairRegular: "PlayfairDisplay-regular", "Times New Roman", serif;
$font-playfairBold: "PlayfairDisplay-bold", "Times New Roman", serif;
$font-playfairItalic: "PlayfairDisplay-italic", "Times New Roman", serif;
$font-poppinsLight: "Poppins-light", "Arial", san-serif;
$font-playfairRegular: "Poppins-regular", "Arial", san-serif;
$font-playfairSemibold: "Poppins-semibold", "Arial", san-serif;