.main-navigation__visually-hidden {
  @include visually-hidden;
}

.main-navigation__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #CFADAC;
  border-radius: 5px;
  background: #ffffff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  min-width: 50px;

}

.main-navigation__button:hover {
  background-color: grey;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.main-navigation--opened .main-navigation__button {
  width: 10%;
}

.main-navigation--opened .main-navigation__list {
  display: flex;
  flex-direction: column;
}

.main-navigation--opened  .main-navigation__wrapper {
  position: relative;
  width: 320px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.main-navigation--closed  .main-navigation__wrapper {
  display: none;
} 
