.introduction {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.introduction__text {
  font-size: 15px;
  color: #967675;
}

.introduction__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $font-playfairBold;
  color: #23242C;
  font-size: 35px;
}

.introduction__photo-wrap {
  display: none;
}

.introduction__btn-wrap {
  border: 1px solid #CFADAC;
}